@tailwind base;
@tailwind components;
@tailwind utilities;

@media only screen and (max-width: 600px) {
    .md\:container {
      width: 90%;
    }
    .md\:w-[35%] {
      width: 100%;
    }
  }
  

body{
    --tw-bg-opacity: 1;
    background-color: rgb(199, 199, 199);
}